{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}

{% block content %}
  <!-- Include Chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <!-- HTML Canvas Element -->
  <div style="width: 50%; height: 400px;">
    <form method="post" action="{% url 'currency:converter-online' %}">
      {% csrf_token %}

      <div>
        <label for="source_currency">Source Currency:</label>
        <select id="source_currency" name="source_currency">
          {% for currency in source_currency_list %}
            {% if currency.code == selected_source_currency %}
              <option value="{{ currency.code }}" selected>{{ currency.code }}</option>
            {% else %}
              <option value="{{ currency.code }}">{{ currency.code }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>

      <div>
        <label for="exchanged_currency">Exchanged Currency:</label>
        <select id="exchanged_currency" name="exchanged_currency">
          {% for currency in exchanged_currency_list %}
            {% if currency.code == selected_exchanged_currency %}
              <option value="{{ currency.code }}" selected>{{ currency.code }}</option>
            {% else %}
              <option value="{{ currency.code }}">{{ currency.code }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>

      <div>
        <label>
          <input type="number" id="currency-amount" name="currency-amount"/>
        </label>
      </div>

      <button type="submit" id="convert-btn" disabled>Convert</button>
    </form>

    <div>
      <span>
        {{ final_amount }}
      </span>
    </div>
  </div>

  <script>
  var currencyAmountInput = document.querySelector('input[name="currency-amount"]');
  var convertBtn = document.getElementById('convert-btn');

  currencyAmountInput.addEventListener('input', function() {
    if (currencyAmountInput.value.trim() !== '') {
      convertBtn.removeAttribute('disabled');
    } else {
      convertBtn.setAttribute('disabled', 'disabled');
    }
  });
</script>
{% endblock %}
